.header {
  width: 100%;
}
.header .header-logo {
  background: #ecdbcd;
  display: flex;
  flex-direction: row;
  height: 70px;
}
.header #image {
  color: #ecdbcd;
  width: 40px;
  height: 50px;
  margin-top: 6px;
}
.header #h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 26pt;
  color: #774d47;
  margin-left: 3px;
  margin-top: 20px;
  font-style: normal;
}
.header #btnlog {
  font-size: 12pt;
  background-color: #774d47;
  color: #ecdbcd;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 98px;
  margin-top: 18px;
  text-align: center;
}
.header .nav-bar {
  background: white;
  border-style: double;
  height: 45px;
  border: solid;
  border-color: #774d47;
}
.header .nav-bar ul {
  width: 100%;
  list-style-type: none;
  font-size: 15pt;
  margin-top: 4px;
}
.header .nav-bar li {
  float: left;
  padding: 12px;
  list-style-type: none;
}
.header .nav-bar a {
  color: #774d47;
  text-decoration: none;
  padding: 2px;
  display: block;
  text-align: center;
}

.dresses .h2 {
  font-size: 26pt;
  color: #774d47;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 2rem;
}

.div-father {
  width: 90%;
  height: auto;
  margin-left: 5%;
  border-style: double;
  border: solid;
  border-color: white;
}
.div-father .div-child1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height:30rem;
  width: 98%;
  border-style: double;
  border: solid;
  border-color: #774d47;
  margin-top: 11px;
  color: black;
}
.div-father .div-child1 .div-child10 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: black;

}
.div-father .div-child1 .div-child10 .imge {
  flex-direction: column;
  display: inline-block;
  height:25rem;
  width: 150px;
  border-style: double;
  border: solid;
  border-color: #b7a8a6;
  margin-top: 17px;
  margin-left:10px;
  margin-bottom: 8px;
    color: black;
}
.div-father .div-child1 .child11 {
  flex-direction: column;
  display: inline-block;
  height: 10rem;
  width: 130px;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 8px;
    color: black;
}
.imges{
  width: 16px;
  height: 16px;
}



@media only screen and (min-width: 961px) {
  .header {
    width: auto;

  }
  .header .header-logo {
    justify-content: space-between;
  }
  .header .nav-bar li {
    margin-right: 50px;
  }
  .div-father {
  margin-left: 25%;
  }
  .div-father .div-child1 {
    justify-content: center;
    width: 50%;

  }
  .div-father .div-child1 .div-child10 .imge {
    width: 70%;
}
.div-father .div-child1 .child11 {
width: 90%;
margin-right: 50px;
}

}
