.header {
  width: 100%;
}
.header .header-logo {
  background: #ECDBCD;
  display: flex;
  flex-direction: row;
  height: 70px;
}
.header #image {
  color: #ECDBCD;
  width: 40px;
  height: 50px;
  margin-top: 6px;
}
.header #h3 {
  font-family: "Great Vibes", cursive;
  font-size: 26pt;
  color: #774D47;
  margin-left: 3px;
  margin-top: 20px;
  font-style: normal;
}
.header #btnlog {
  font-size: 12pt;
  background-color: #774D47;
  color: #ECDBCD;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  margin-left: 98px;
  margin-top: 18px;
}
.header .nav-bar {
  background: white;
  border-style: double;
  height: 45px;
  border: solid;
  border-color: #774D47;
}
.header .nav-bar ul {
  width: 100%;
  list-style-type: none;
  font-size: 15pt;
  margin-top: 4px;
}
.header .nav-bar li {
  float: left;
  padding: 8px;
  list-style-type: none;
}
.header .nav-bar a {
  color: #774D47;
  text-decoration: none;
  padding: 2px;
  display: block;
  text-align: center;
}
