.header {
  width: 100%;
}
.header .header-logo {
  background: #ECDBCD;
  display: flex;
  flex-direction: row;
  height: 70px;
}
.header #image {
  color: #ECDBCD;
  width: 40px;
  height: 50px;
  margin-top: 6px;
}
.header #h3 {
  font-family: "Great Vibes", cursive;
  font-size: 26pt;
  color: #774D47;
  margin-left: 3px;
  margin-top: 20px;
  font-style: normal;
}
.header #logout {
  font-size: 12pt;
  background-color: #774D47;
  color: #ECDBCD;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  margin-left: 98px;
  margin-top: 18px;
  text-align: center;
}
.header .nav-bar {
  background: white;
  border-style: double;
  height: 45px;
  border: solid;
  border-color: #774D47;
}
.header .nav-bar ul {
  width: 100%;
  list-style-type: none;
  font-size: 15pt;
  margin-top: 4px;
}
.header .nav-bar li {
  float: left;
  padding: 12px;
  list-style-type: none;
}
.header .nav-bar a {
  color: #774D47;
  text-decoration: none;
  padding: 2px;
  display: block;
  text-align: center;
}
.member-profile
{
  font-size: 15pt;
  display:inline-block;
  margin-left: 5px;
}
.member-profile .bio1
{
  font-size: 15px;
  color: #774D47;
  height: 100px;
  width: 100px;
  padding-left: 5px;
  padding-top: 5px;


}
.member-profile .bio2
{
  font-size: 15px;
  color: #774D47;
  height: 100px;
  width: 100px;
  margin-left: 120px;
  margin-top: -107px;
  padding-left: 10px;
  padding-top: 5px;
}
.member-profile .bio2 #email
{
  margin-left: 40px;
  margin-top: -15px;
  padding-bottom: 10px;
}
.member-profile .bio2 #mobile
{
  margin-left: 40px;
  margin-top: -20px;
}
.product #yourproducts
{
  font-size: 15px;
  color: #774D47;

}
.product .addForm
{
  font-size: 15pt;
  text-align: center;
  margin: 2px;
  color: #774D47;
  margin-left: 200px;
  margin-top: 5px;
}
 .member-profile .list .photo1 .image
{
  width:100px;
  height: 200px;

}
