.header {
  width: 100%;
}
.header .header-logo {
  background: #ECDBCD;
  display: flex;
  flex-direction: row;
  height: 70px;
}
.header #image {
  color: #ECDBCD;
  width: 40px;
  height: 50px;
  margin-top: 6px;
}
.header #h3 {
  font-family: "Great Vibes", cursive;
  font-size: 26pt;
  color: #774D47;
  margin-left: 3px;
  margin-top: 20px;
  font-style: normal;
}
.header #logout {
  font-size: 12pt;
  background-color: #774D47;
  color: #ECDBCD;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  margin-left: 98px;
  margin-top: 18px;
  text-align: center;
}
.header .nav-bar {
  background: white;
  border-style: double;
  height: 45px;
  border: solid;
  border-color: #774D47;
}
.header .nav-bar ul {
  width: 100%;
  list-style-type: none;
  font-size: 15pt;
  margin-top: 4px;
}
.header .nav-bar li {
  float: left;
  padding: 12px;
  list-style-type: none;
}
.header .nav-bar a {
  color: #774D47;
  text-decoration: none;
  padding: 2px;
  display: block;
  text-align: center;
}



.outerContainer .inputsContainer
{
  font-size: 15pt;
  display:inline-block;
  margin-top:25px;
  margin-left: 5px;
}
.outerContainer .inputsContainer #emailMsg {
  font-size: 15pt;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 2px;
  color: red;
}
.outerContainer .inputsContainer #passwordMsg {
  font-size: 15pt;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 2px;
  color: red;
}
.outerContainer .inputsContainer #mobileMsg {
  font-size: 15pt;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 2px;
  color: red;
}
.outerContainer .inputsContainer .inputs
 {
   font-size: 12pt;
   border: solid;
   border-color:#774D47;
   text-align: left;
   margin: 2px;
   color: #774D47;
   width:80%;
   padding-bottom: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
   padding-top: 10px;
}

 .outerContainer .home-login  .inputButtons
{
  font-size: 15pt;
  border: solid;
  text-align: center;
  background: #FDDBD6;
  margin: 2px;
  border-radius: 20px;
  border-color:#774D47;
  color: #774D47;
  margin-left: 70px;
  height: 40px;
  width:40%;

}
