<header class="header">
   <div class= "header-logo">
      <img  id="image" src="img/Rectangle 7.1.png" alt="logo">
      <h3 id="h3"><b>HebronDress</b></h3>
        <a id="logout" href="/logouts">logout</a>
   </div>
   <div class= "nav-bar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Dresses</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/profiles">MyProfile</a></li>
      </ul>
   </div>
</header>
<div class="member">
   <input class="inputs" type="text" name="image" value="" placeholder="Add image ..">
   <select id="color"name="color" >
      <option  hidden value="color" id="color-option">Color</option>
      <option value="red" id="Red">Red</option>
      <option value="yellow" id="Yellow">Yellow</option>
      <option value="green" id="Green">Green</option>
      <option value="blue"id="Blue">Blue</option>
      <option value="black"id="Black">Black</option>
      <option value="white"id="White">White</option>
   </select>
   <select id="size"name="size">
      <option  hidden value="size" id="size-option">Size</option>
      <option value="small" id="Small">Small</option>
      <option value="medium" id="Medium">Medium</option>
      <option value="large" id="Large">Large</option>
      <option value="xlarge"id="XLarge">XLarge</option>
   </select>
   <select id="status" name="status">
      <option  hidden value="status" id="status-option">status</option>
      <option value="rent" id="Rent">Rent</option>
      <option value="buy" id="Buy">Buy</option>
      <option value="buy" id="Buy">Rent&Buy</option>
   </select>
   <select id="category" name="category">
      <option  hidden value="category" id="category-option">category</option>
      <option value="bride" id="Bride">Bride</option>
      <option value="party" id="Party">Party</option>
      <option value="folklore" id="Folklore">Folklore</option>
   </select>
   <input class="inputs" type="text" name="address" value="" placeholder="Add address..">
   <input class="inputs" type="number" name="mobile" value="" placeholder="Add mobile..">
   <div class="add">
      <input class="inputButtons" type="submit" name="" value="add">
   </div>
</div>
</div>
