{{>header}}
<div class="dresses">
   <h2 class="h2"><b> Contact<b></h2>
</div>


<div class="div-father">
  <div class="div-child1">
    <h2 class="h5"><b> Contact details<b></h5><br>

<div class="div-child10">

  <div class="div-child100">
  <img src="/img/Frame.png" alt="contact" class="imges"> 02-2202111
</div>
  <div class="div-child101">
<img src="/img/Rectangle 12.png" alt="location" class="imges"> Hebron
</div>
</div>
<hr/>

<div class="outerContainer">
  <h2 class="h5"><b>contact form<b></h5><br>
<form action="/sendmessage" method="POST">
<div class="inputsContainer">
<input class="password" type="text" name="name" value=""  required>
<input class="email" type="email" name="email" value="" required>
<input class="massege" type="text" name="message" value="" placeholder="massege" required>
</div>
<div class="home-login">
<input class="inputButtons" type="submit" name="" value="send">
</form>

{{#if message}}
{{message}}
{{/if}}
</div>
</div>

      </div>



</div>


      <div class="footer">
         <p id="paragraph"> <b> Hebron 2019 All rights reserved,powered by:Hebron dresses</b></p>
      </div>
   </div>
</div>
