{{>header}}
<div class="image-slider">
   <img src="img/a.jpg" alt="imageslider" width="101.5%" height="300%">
</div>
<div class="div-img">
   <div class="div1">
      <form action="/search" method="get">
         <select id="color"name="color" >
            <option  hidden value="color" id="color-option">Color</option>
            <option value="Red" id="Red">Red</option>
            <option value="Yellow" id="Yellow">Yellow</option>
            <option value="Green" id="Green">Green</option>
            <option value="Blue"id="Blue">Blue</option>
            <option value="Black"id="Black">Black</option>
            <option value="White"id="White">White</option>
         </select>
         <select id="size"name="size">
            <option  hidden value="size" id="size-option">Size</option>
            <option value="Small" id="Small">Small</option>
            <option value="Medium" id="Medium">Medium</option>
            <option value="Large" id="Large">Large</option>
         </select>
         <select id="status" name="status">
            <option  hidden value="status" id="status-option">status</option>
            <option value="Rent" id="Rent">Rent</option>
            <option value="Sale" id="Buy">Buy</option>
            <option value="Both" id="Buy">Rent&Buy</option>
         </select>
         <select id="category" name="category">
            <option  hidden value="category" id="category-option">category</option>
            <option value="Bride" id="Bride">Bride</option>
            <option value="Party" id="Party">Party</option>
            <option value="Folklore" id="Folklore">Folklore</option>
         </select>
         <select id="price" name="price">
            <option  hidden value="price" id="price-option">price</option>
            <option value="0-100" id="price1">0-100$</option>
            <option value="100-400" id="price2">100-400$</option>
            <option value="400-800" id="price3">400-800$</option>
            <option value="800-1000" id="price4">800-1000$</option>
            <option value=">1000" id="price5"> >1000$</option>
         </select>
         <button id="search"> search</button>
      </form>
   </div>
   <div class="div2">
      <div id="div21" >

        {{#each dresses1}}

    <a href={{getLink id}}><img src= {{img}} class="imge">
      </img>
        {{/each}}
      </div>
      <div id="div22">
        {{#each dresses2}}

    <a href={{getLink id}}><img src= {{img}} class="imge"></a>
      </img>
        {{/each}}

      </div>
      <div class="footer">
         <p id="paragraph"> <b> Hebron 2019 All rights reserved,powered by:Hebron dresses</b></p>
      </div>
   </div>
</div>
