<header class="header">
<div class= "header-logo">
<a href="/"><img  id="image" src="/img/Rectangle 7.1.png" alt="logo"></a>
<h3 id="h3"><b>HebronDress</b></h3>
<a id="logout" href="logouts">logout </a>
</div>
<div class= "nav-bar">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/products">Dresses</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/profiles">My profile</a></li>
</ul>
</div>
</header>
<div class="outerContainer">
   <form action="/logins" method="POST">
      <div class="inputsContainer">
         <input class="email" type="email" name="email" value="" placeholder="Type your email.." required>
         <input class="password" type="password" name="password" value="" placeholder="Type a password.." required>
      </div>
      <div class="home-login">
         <input class="inputButtons" type="submit" name="" value="login">
   </form>
   {{#if messageEmail}} <h1 id= "msgSuccess"> {{messageEmail}} </h1> {{/if}}
   {{#if messagePass}} <h1 id = "msgError"> {{messagePass}} </h1> {{/if}}
   <br>
   <h2 id="text"> You dont have an account ! </h2>
   <br>
   <a id="signup" href="/signups">signup</a>
   </div>
</div>
