<header class="header">
   <div class= "header-logo">
      <img id="image" src="img/Rectangle 7.1.png" alt="logo">
      <h3 id="h3"><b>HebronDress</b></h3>
       <a id="logout" href="/logouts">logout</a> 
   </div>
   <div class= "nav-bar">
      <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Dresses</a></li>
         <li><a href="#">Contact</a></li>
         <li><a href="#">MyProfile</a></li>
      </ul>
   </div>
</header>
<div class="outerContainer">
   <form action="/logins" method="POST">
      <div class="inputsContainer">
         <input class="inputs" type="email" name="email" value="" placeholder="Type your email..">
         <input class="inputs" type="password" name="password" value="" placeholder="Type a password..">
      </div>
      <div class="home-login">
         <input class="inputButtons" type="submit" name="" value="login">
   </form>
   <h2 id="text">You dont have an account !</h2>
   <a href="/signups">signp</a>
   </div>
</div>
