<header class="header">
   <div class= "header-logo">
      <img id="image" src="img/Rectangle 7.1.png" alt="logo">
      <h3 id="h3"><b>HebronDress</b></h3>
      <form action="/logout">
         <input class="logoutBtn" type="submit" value="Logout">
      </form>
   </div>
   <div class= "nav-bar">
      <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Dresses</a></li>
         <li><a href="#">Contact</a></li>
         <li><a href="#">MyProfile</a></li>
      </ul>
   </div>
</header>
<div class="member">
<div class="bio1">
   <img src="img/r.png" alt="photo">
   <h3  id="profileHeader">{{name}} </h3>
</div>
<div class="bio2">
<img src="img/message.png" alt="message">
<img src="img/phone.png" alt="phone">
<div>
   <hr>
   <div class="product">
      <h3 id="your products"> <b>Your Products</b></h3>
      <form class="addForm" action="/adddress" method="POST">
         <input class="inputButtons" id="addBtn" type="submit" name="" value="Add">
      </form>
   </div>
   <div class="list">
      <div class="photo1">
         <img src="img/m.png" alt="dress">
         <hr>
         <h3 id="name"> Party</h3>
         <h3 id="color">Color:Red</h3>
         <h3 id="size"> Size:Small</h3>
         <h3 id="price"> Price:<b>10$</b> </h3>
      </div>
      <div class="photo2">
         <img src="img/mm.png" alt="dress">
         <hr>
         <h3 id="name"> Wedding</h3>
         <h3 id="color">Color:White</h3>
         <h3 id="size"> Size:Meduim</h3>
         <h3 id="price"> Price:<b>30$</b> </h3>
      </div>
   </div>
</div>
