<header class="header">
<div class= "header-logo">
<a href="/"><img  id="image" src="/img/Rectangle 7.1.png" alt="logo"></a>
<h3 id="h3"><b>HebronDress</b></h3>
<button id ="btnlog"><b>Login</b></button>
</div>
<div class= "nav-bar">
<ul>
<li><a href="/">Home</a></li>
<li><a href="#">Dresses</a></li>
<li><a href="/products">Dresses</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">MyProfile</a></li>
</ul>
</div>
</header>
