<header class="header">
<div class= "header-logo">
<a href="/"><img  id="image" src="/img/Rectangle 7.1.png" alt="logo"></a>
<h3 id="h3"><b>HebronDress</b></h3>
{{#unless login_page}}
<a id="login" href="logins">login </a>
{{/unless}}
</div>
<div class= "nav-bar">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/products">Dresses</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/profiles">My profile</a></li>
</ul>
</div>
</header>
